.arrows {
    position: absolute;
    user-select: none;
  }
  
  .arrow {
    cursor: pointer;
    font-size: calc(var(--cell-size) / 2);
    margin: 4px;
  }
  
  .arrows-quadrant-1 .arrow-ccw {
    position: absolute;
    top: calc(-1 * var(--cell-size) / 2);
    left: calc(50% - var(--cell-size) / 4);
  }
  
  .arrows-quadrant-1 .arrow-cw {
    position: absolute;
    left: calc(-1 * var(--cell-size) / 2);
    top: calc(50% - var(--cell-size) / 4);
  }
  
  .arrows-quadrant-2 .arrow-ccw {
    position: absolute;
    top: calc(-1 * var(--cell-size) / 2);
    right: calc(50% - var(--cell-size) / 4);
  }
  
  .arrows-quadrant-2 .arrow-cw {
    position: absolute;
    right: calc(-1 * var(--cell-size) / 2);
    top: calc(50% - var(--cell-size) / 4);
  }
  
  .arrows-quadrant-3 .arrow-ccw {
    position: absolute;
    bottom: calc(-1 * var(--cell-size) / 2);
    left: calc(50% - var(--cell-size) / 4);
  }
  
  .arrows-quadrant-3 .arrow-cw {
    position: absolute;
    left: calc(-1 * var(--cell-size) / 2);
    bottom: calc(50% - var(--cell-size) / 4);
  }
  
  .arrows-quadrant-4 .arrow-ccw {
    position: absolute;
    bottom: calc(-1 * var(--cell-size) / 2);
    right: calc(50% - var(--cell-size) / 4);
  }
  
  .arrows-quadrant-4 .arrow-cw {
    position: absolute;
    right: calc(-1 * var(--cell-size) / 2);
    bottom: calc(50% - var(--cell-size) / 4);
  }
  
  .arrow-ccw {
    position: absolute;
    transform: rotate(-45deg);
  }
  
  .arrow-cw {
    position: absolute;
    transform: rotate(45deg);
  }
  