.chat-area {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.chat-area::-webkit-scrollbar {
    width: 6px;
}

.chat-area::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.chat-area::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 3px;
}

.send-message-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.send-message-container input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.send-message-container button {
    padding: 6px 12px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.send-message-container button:hover {
    background-color: #45a049;
}