.chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-area {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}

.send-message-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.send-message-container input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}