.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, h3 {
  margin-bottom: 20px;
}

.profile-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.profile-stat {
  padding: 10px;
  background-color: #0e0d0d;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.recent-games {
  width: 100%;
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f7f7f7;
  font-weight: bold;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.game-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.game-pagination span {
  margin: 0 10px;
}

@media (max-width: 480px) {
  .profile-stats {
    grid-template-columns: 1fr;
  }
}

button:disabled {
  background-color: #cccccc; /* Set the background color for disabled buttons */
  color: #666666; /* Set the text color for disabled buttons */
}