.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  padding: 1rem;
  width: 100%;
  position: relative;
}

.nav-links,
.auth-links {
  display: flex;
}

.nav-links ul,
.auth-links ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-links li,
.auth-links li {
  margin-right: 1rem;
}

.nav-links a,
.auth-links a {
  text-decoration: none;
  color: white;
}

.nav-links a.active,
.auth-links a.active {
  font-weight: bold;
}

/*Dropdown*/

.username-wrapper {
  position: relative;
}

.username-wrapper::before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 35px;
  z-index: 1;
}

.user-dropdown {
  display: inline-block;
  cursor: pointer;
}

.dropdown-wrapper {
  position: absolute;
  right: 0;
  top: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #161616;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  flex-direction: column;
  gap: 8px;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
  background-color: #525252;
  color: #fff;
}

.user-dropdown:hover .dropdown-content {
  display: flex;
}


