.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(184, 83%, 35%);
  padding: 1rem;
  width: 100%;
}

.nav-links,
.auth-links {
  display: flex;
}

.nav-links ul,
.auth-links ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-links li,
.auth-links li {
  margin-right: 1rem;
}

.nav-links a,
.auth-links a {
  text-decoration: none;
  color: #333;
}

.nav-links a.active,
.auth-links a.active {
  font-weight: bold;
}
